body, html {
    height: 100%;
    width: auto;
    margin: 0;
  }

.bg
{
    /* The image used */
    background-image: url(../images/Artboard\ 1-8.png);
  color: blue;
    /* Full height */
height: 90%;
    width: auto;

    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;

  }

/* #navBar {
   
  padding-top: .5px;

}  */

.nav-link {
    color: rgb(128, 0, 55);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#soon {
  height: 70;
  width: auto;
  color: rgb(128, 0, 55);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0%;
  
}
